/* RESET */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* GENERAL COMMAND*/
#container {
width:80%;
margin:auto;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}
/* /GENERAL COMMAND*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* INTESTAZIONE NAV */

#logo {
  padding: 1% 0;
}

#logo img{
  display:block;
  height: 10vh;
  width:auto;
  padding:1%;
  border-right: 1px solid lightgrey;
}

.links ul li {
padding: 1%;
text-transform: uppercase;
display: inline-block;
list-style-type: none;
color:#929292;
}

ul a {
  text-decoration: none;
}

a li:hover {
  background-color: ghostwhite;
  color:black;
}

/* /INTESTAZIONE NAV */

 /* HERO */

#hero {
  margin: 2% 0;
}

#img-banner {
  position: relative;
  height: 60vh;
  width:100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  z-index: 1;
}

.overlay {
  position: absolute;
  border-radius: 8px;
  background: rgba(0,0,0,0.2);
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2;

}
/* TEXT AND COLOR */

.color-text {
  color:#929292;
}

h1 {
  font-family: arial;
  font-size: 35px;
  margin-top:
}

#text-banner {
  position:absolute;
  width:40%;
  bottom:12%;
  left:4%;
  z-index: 3;
}

h2, #p-banner {
  color: ghostwhite;
}

#p-banner {
font-size: 14px;
}

h3 {
  margin-top: 10px;
}
/* /TEXT AND COLOR */
/* /HERO */

/* CONTENUTO ARTICOLI */

.content {
  height: 80vh;
}
#row {
  margin-bottom:1%;
}

/* PHOTO PROPRIETIES*/

.photo-proprieties {
  height: 25vh;
  width:100%;
  object-fit: cover;
  border-radius: 8px;
  height: 25vh;
}
.cut-overlay {
  height: 26vh;
}
/* /PHOTO PROPRIETIES*/

/* ARTICLES PROPRIETIES */

.article-left, .article-center, .article-right {
  position: relative;
  height: 50vh;
  float:left;
  margin-top: 1%;
  margin-bottom: 1%;
}

.article-left, .article-right {
  width: 20%;
}

.article-center {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%;
}

/* ARTICLES PROPRIETIES */

/* /CONTENUTO ARTICOLI */

footer {
  text-align: center;
  height: 5vh;
}
