/* RESET */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* GENERAL COMMAND*/
.container {
width:80%;
margin:auto;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}
/* /GENERAL COMMAND*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* INTESTAZIONE NAV */
.menu {
  /* height:100px; */
}

#logo {
  padding: 1% 0;
}

#logo img{
  display:block;
  height: 10vh;
  width:auto;
  padding:1%;
  border-right: 1px solid lightgrey;
}

.links ul li {
padding: 1%;
text-transform: uppercase;
display: inline-block;
list-style-type: none;
color:#929292;
}

ul a {
  text-decoration: none;
}

a li:hover {
  background-color: ghostwhite;
  color:black;
}

/* /INTESTAZIONE NAV */

 /* HERO */
#hero{
  margin: 1% 0;
  border-radius: 8px;
}
.img-banner {
  position: relative;
  height: 60vh;
  width:100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  z-index: 1;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.2);
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2;
  border-radius: 8px;
}

#text-banner {
  position:absolute;
  width:40%;
  bottom:15%;
  left:4%;
  z-index: 3;
}
h2, #p-banner {
  color: ghostwhite;
}

#p-banner {
font-size: 14px;
}
/* /HERO */

/* CONTENUTO ARTICOLI */
.content {
  background-color: dodgerblue;
  height: 650px;
}

.row {
  background-color: lightblue;
  height: 15%;
}

.article-left, .article-right {
  width: 25%;
}

.article-center {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.article-left, .article-center, .article-right {
  height: 80%;
  float:left;
  background-color: lightblue;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* /CONTENUTO ARTICOLI */
footer {
  background-color: blueviolet;
  height: 50px;
  margin-top: 1%
}
